.total {
    display: flex;
    gap: 0.4em;
    font-weight: 700;
}

.total>img {
    width: auto;
    height: 100%;
}

.total .animated {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}

.total .digits {
    animation-name: counter;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.total .hide {
    width: 0;
}

.total .fade-out {
    animation-name: fadeout;
    animation-delay: 2.4s;
    animation-duration: 0.11s;
    animation-fill-mode: both;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}