.total {
    display: flex;
    gap: 0.25rem;
    min-width: 3rem;
}

.total>img {
    width: auto;
    height: 100%;
}

.total .animated {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}

.total .digits {
    animation-name: counter;
}