main {
    margin: auto;
}

.source {
    height: 4rem;
    opacity: 0;
}

.source {
    font-size: large;
}

.earned,
.total {
    display: flex;
}

.digits {
    width: .5em;
    overflow: hidden;
}

.digits>div {
    display: inline-block;
    animation-fill-mode: both;
}

.digits .delay {
    animation-delay: 0.5s;
}

.digits .speed-1 {
    animation-iteration-count: 1;
    animation-duration: 450ms;
}

.digits .speed-2 {
    animation-iteration-count: 2;
    animation-duration: 225s;
}

.digits .speed-3 {
    animation-iteration-count: 3;
    animation-duration: 150ms;
}

.digits .speed-4 {
    animation-iteration-count: 4;
    animation-duration: 112ms;
}

.digits .speed-5 {
    animation-iteration-count: 5;
    animation-duration: 80ms;
}

.digits .num-0 {
    animation-name: zero;
    animation-timing-function: steps(10, start);
}

.digits .num-1 {
    animation-name: one;
    animation-timing-function: steps(1, start);
}

.digits .num-2 {
    animation-name: two;
    animation-timing-function: steps(2, start);
}

.digits .num-3 {
    animation-name: three;
    animation-timing-function: steps(3, start);
}

.digits .num-4 {
    animation-name: four;
    animation-timing-function: steps(4, start);
}

.digits .num-5 {
    animation-name: five;
    animation-timing-function: steps(5, start);
}

.digits .num-6 {
    animation-name: six;
    animation-timing-function: steps(6, start);
}

.digits .num-7 {
    animation-name: seven;
    animation-timing-function: steps(7, start);
}

.digits .num-8 {
    animation-name: eight;
    animation-timing-function: steps(8, start);
}

.digits .num-9 {
    animation-name: nine;
    animation-timing-function: steps(9, start);
}

@keyframes zero {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes one {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-10%);
    }
}

@keyframes two {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-20%);
    }
}

@keyframes three {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-30%);
    }
}

@keyframes four {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-40%);
    }
}

@keyframes five {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes six {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-60%);
    }
}

@keyframes seven {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-70%);
    }
}

@keyframes eight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-80%);
    }
}

@keyframes nine {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-90%);
    }
}