.test {
    --source-font-size: 1rem;
    display: grid;
    grid-auto-rows: 1em;
    width: fit-content;
    height: 2rem;
    font-size: var(--source-font-size);
    font-weight: 700;
}

.test .digits {
    animation-name: counter1;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

@keyframes counter1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10rem);
    }
}